$color-yellow:#ffd600;
$color-white:#fff;
$space: 0.5rem;
$color-small-impact:#bebebe;
$color-yellow:#ffd600;
$--font-size-xxl: 1.6rem;
$--color-black:#191919;
$--font-size-m:14px;
$--color-gray-lt:#6e6e6e;
$--color-dark-red: #5d0914;
$--color-red:#dc0914;